$green-color: #2fcb59;
$red-color: #ff0007;
$blue-color: #3954e3;
$black-color: #01090f;
$light-gray-color: #d1d3d5;
$gray-color: #7c8286;
$gray-color2: #dfe6ee;
$border-color: #dfe6ee;
$golden-color: #ae7d29;
$dark-blue-color: #001180;
$white-color: #fff;
$offwhite-color: #f1f5f8;
$font-black-color: #1e1e1e;
$font-gray-color: #7c8286;
$font-white-color: #ffffff;
$border-radius: 0.25rem;
$small-font-size: 0.75rem;
$minimum-font-size: 0.875rem;
$normal-font-size: 1rem;
$active-menu-color: #ebebea;
