registry=https://skribe-libs-218588568495.d.codeartifact.us-east-2.amazonaws.com/npm/skribe_libs/
//skribe-libs-218588568495.d.codeartifact.us-east-2.amazonaws.com/npm/skribe_libs/:always-auth=true
//skribe-libs-218588568495.d.codeartifact.us-east-2.amazonaws.com/npm/skribe_libs/:_authToken=${CODEARTIFACT_AUTH_TOKEN}