// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

// @font-face {
//     font-family: "Yaldevi-ExtraLight";
//     src: url("/fonts/Yaldevi-ExtraLight.woff2") format("woff2"), url("/fonts/Yaldevi-ExtraLight.woff") format("woff");
// }

// Font Variables
$body-font: "Inter", "Open Sans", sans-serif;
// $roboto-slab: 'Roboto Slab', serif;
// $header-font: "Yaldevi-Regular", sans-serif;

// Font Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
