@use "fonts";
@use "sass-utils/variables";

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main {
    .post-event-left {
      background-color: variables.$gray-color2;
      // height: 100%;
      // padding: 12px;
      width: 70px;

      .content {
        width: 70px;
        min-height: 100vh;
        position: fixed;
        // padding-bottom: 20px;
        padding: 12px;
        background-color: variables.$gray-color2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 0px) and (max-width: 599px) {
          min-height: auto;
          flex-direction: row;
          padding-bottom: 0;
        }

        .left-bottom-icon {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          //border-radius: variables.$border-radius;
          //background-color: #d4dbe9;
          margin-bottom: 20px;
          cursor: pointer;

          &:last-child {
            margin-bottom: 10px;
          }
        }

        .bottom {
          display: flex;
          justify-content: center;

          @media screen and (min-width: 0px) and (max-width: 599px) {
            display: flex;
            flex-direction: row;
            .left-bottom-icon {
              margin-right: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .content-container {
      display: flex;
      justify-content: center;
      background-color: #eef2f6;
      height: 100%;
      min-height: 100vh;
      padding: 0 30px;

      .content-container-wrapper {
        display: flex;
        flex-direction: column;
        width: 700px;

        .top {
          padding-top: 20px;

          .top-content {
            display: flex;
            flex-direction: column;
            padding: 15px 20px;
            background: linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(2 23 140 / 4%)),
              url("/rooms/images/post-event-top-bg.png");
            background-size: cover;
            background-blend-mode: multiply;
            width: 100%;
            height: 393px;
            border-radius: 0.5rem;

            .event-status {
              flex: 1;
              text-align: right;
              padding-top: 10px;

              span {
                background: #8e9ab4;
                color: #fff;
                border-radius: variables.$border-radius;
                padding: 5px 10px;
              }
            }

            .event-buy-text {
              color: #fff;

              .event-buy-feature-points {
                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    list-style: none;
                    display: inline-flex;

                    span {
                      padding: 0 15px 0 10px;
                      font-size: variables.$minimum-font-size;
                    }
                  }
                }
              }
            }
          }
        }

        .middle {
          background-color: #fff;
          border-radius: 0.5rem;
          margin: 20px 0;
          padding: 0 0 20px;

          .event-info {
            padding: 0 20px 20px;
            border-bottom: 1px solid variables.$border-color;

            .heading {
              color: variables.$blue-color;
              margin-bottom: 5px;
            }
            .matter-title-time {
              font-size: variables.$minimum-font-size;
              color: variables.$gray-color;

              span {
                margin-right: 15px;
              }
            }
          }

          .deposition-info {
            & > .heading {
              padding: 20px;
            }

            .deposition-summary {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding: 0 20px;

              .left-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                .cell {
                  padding: 0 40px 0 0;

                  .heading {
                    color: variables.$gray-color;
                  }
                  .content-text {
                    color: variables.$black-color;
                  }
                }
              }
              .right-content {
                .cell {
                  .heading {
                    color: variables.$gray-color;
                  }
                  .content-text {
                    color: variables.$blue-color;
                    font-size: 1.25rem;
                  }
                }
              }
            }
          }
        }

        .bottom {
          span[class^="MuiTypography-root"] {
            font-size: variables.$minimum-font-size;
          }
        }
      }

      @media screen and (min-width: 0px) and (max-width: 992px) {
        .content-container-wrapper {
          width: 100%;
          padding: 0 15px;
        }
      }
    }
  }
}
